body, html, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#container {
    max-height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
}

svg {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

h1 {
    cursor: pointer;
}

ul {
    list-style: none;
}

li {
    text-transform: uppercase;
}

li:hover {
    color: darkturquoise;
    cursor: pointer;
}

header {
    width: 100%;
    background-color: white;
}

nav {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

main {
    height: 100vh;
    width: 100vw;
}

#outer-carousel {
    height: 100%;
}

.inner-carousel {
    width: 100%;
    height: 100%;
}

.carousel-item {
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% cover;
}

#slide-1 {
    height: 100%;
    background-image: url("../images/Fujiwara_Chika_Presents_SICP.png");
}

#slide-2 {
    height: 100%;
    background-image: url("../images/GochiUsa_Is_The_Order_SICP.png");
}

#slide-3 {
    height: 100%;
    background-image: url("../images/Suminoe_Ako_Reads_SICP.png");
}

#links {
    position: absolute;
    background-color: white;
    padding: 2rem;
    margin-left: 6rem;
}

.bi-x {
    display: none;
}

.image-info {
    font-weight: bold;
    font-size: 2rem;
    background-color: white;
    opacity: 80%;
    position: absolute;
    bottom: 0;
    align-self: center;
    padding: 2rem 4rem;
    border-radius: 1rem 1rem 0rem 0rem;
}


img {
    resize: both;
    width: 100%;
    height: fit-content;
}

#marquee-is-obselete {
    background: #f0f4f0;
    padding: 0.5rem;
    overflow: hidden;
}

#marquee-text {
    animation: slide 32s linear infinite;

}

@keyframes slide {
    0% {
        transform: translatex(100%)
    }

    100% {
        transform: translatex(-20%)
    }
}

@media all and (max-width: 738px) {


    nav {
        flex-direction: column-reverse;
    }

    #socials {
        display: none;
    }

    #links {
        min-height: 90vh;
        margin-left: unset;
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100vw;
        z-index: 1;
    }

    #logo {
        display: none;
    }

    .bi-x {
        display: unset;
        position: absolute;
        right: 0;
        top: 0;
    }
}